{{ partial "meta" . }}
{{ partial "header" . }}
<main>
    <div class="container">                 
            <div class="row">
                <div class="col s12 m12 l12">
                {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
                    {{ range $paginator.Pages }}
                    <div class="col s6 m6 l6">
                        <a href="{{ .Permalink }}">
                          <div class="card">
                            <div class="card-image">                                
                            {{ with .Params.image }}
                              <img width="100%" height="auto" class="responsive-img wp-post-image" src="{{  $.Site.BaseURL }}img/{{ . }}">
                            {{ else }}
                              <img width="100%" height="auto" class="responsive-img wp-post-image" src="{{  $.Site.BaseURL }}img/defaultpost.png">    
                            {{ end }}
                                
                            </div>
                            <div class="card-content truncate">
                            <span class="card-title activator grey-text text-darken-2">{{ .Title }}</span>
                              {{ .Summary }}....
                            </div>
                            
                          </div>
                        </a>
                    </div>
                    {{ end }}
                </div>
                
            </div>
            
            <div class="row">
                <div class="col s12 m12 l12">
                {{ if .Paginator.HasPrev }}
                    <a class="btn btn-default" href="{{ .Paginator.Prev.URL }}">
                        < Forrige side
                    </a>
                {{ end }}
                {{ if .Paginator.HasNext }}
                    <a class="btn btn-default" href="{{ .Paginator.Next.URL }}">
                        Næste side >
                    </a>
                {{ end }}
                </div>
            </div>
          

        </div>
</main>
{{ partial "footer" . }}