{{ partial "meta" . }}
{{ partial "header" . }}
<main>
    <div class="container">
      <div class="col s12">
          <table id="tilmelding" class="striped bordered">
            <tr><th style="width:15%;">Dato</th><th>Arrangement</th><th>Beskrivelse</th><th>Link</th></tr>
          </table>
      </div>
    </div>
</main>


<script>

var x;
    
function loadXMLDoc() {
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      myFunction(this);
    }
  };
  xmlhttp.open("GET", "../data/eksempel.xml" , true);
  xmlhttp.send();
}

function myFunction(xml) {
  var i, xmlDoc, table;
  xmlDoc = xml.responseXML;
  table = "<tr><th style='width:20%;'>Dato</th><th style='width:20%;'>Arrangement</th><th style='width:50%;'>Beskrivelse</th><th style='width:10%;'>Link</th></tr>";
  x = xmlDoc.getElementsByTagName("event")
  for (i = 0; i < x.length; i++) { 
    table += "<tr><td>" + 
    x[i].getElementsByTagName("start_time")[0].textContent +
    "</td><td>" + 
    x[i].getElementsByTagName("title")[0].textContent +
    "</td><td>" +
    x[i].getElementsByTagName("description")[0].nextElementSibling.textContent +
    "</td><td>" +
        "<a target=_blank href="+x[i].getElementsByTagName("url")[0].textContent + ">" +
          "Link</a>" +
        
    "</td></tr>";
  }
  document.getElementById("tilmelding").innerHTML = table;
  
}

 window.onload = loadXMLDoc();
</script>

{{ partial "footer" . }}