  <footer class="page-footer red darken-2">
    <div class="container">
      <div class="row">
        <div class="col s12 m4 l4">
        <h5 class="white-text">Seneste indlæg</h4>
          <ul>
             {{ range first 3 (where .Site.Pages "Type" "post") }}
                <li><a href="{{ .Permalink }}" class="footer-link">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col s12 m8 l8">
          <h5 class="white-text">Kimbrerfesten</h5>
          <p class="grey-text text-lighten-4">Er organiseret som en forening, der har til formål at rejse penge til idrætten og foreningslivet i Aars og omegn.</p>
        </div>
<!--        <div class="col l4 s12">
          <h5 class="white-text">Bag Kimbrerfesten:</h5>
          <ul>
            <li><a class="white-text" href="http://www.aarstennisklub.dk/">Aars Tennisklub</a></li>
            <li><a class="white-text" href="http://foreningsportalen.vesthimmerland.dk/side.asp?wkid=9958&side=2&debtorinfoid=158">Vesthimmerlands Handicap Idræt</a></li>
            <li><a class="white-text" href="http://foreningsportalen.vesthimmerland.dk/side.asp?wkid=9958&side=2&debtorinfoid=10">Aars Bordtennisklub</a></li>
            <li><a class="white-text" href="http://foreningsportalen.vesthimmerland.dk/side.asp?wkid=9958&side=2&debtorinfoid=24">Aars Skytteforening</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="http://aars-svommeklub.dk">Aars Svømmeklub</a></li>
            <li><a class="white-text" href="http://www.aarsik.dk/">Aars Idrætsklub</a></li>
            <li><a class="white-text" href="http://www.aarsbadmintonklub.dk">Aars Badmintonklub</a></li>
            <li><a class="white-text" href="http://www.vesthimmerlands-vk.klub-modul.dk">Vesthimmerland Volleyball Klub</a></li>
            <li><a class="white-text" href="http://www.aars-brydeklub.dk/">Aars Brydeklub</a></li>
            <li><a class="white-text" href="http://www.aarshk.dk/">Aars Håndboldklub</a></li>
            <li><a class="white-text" href="http://aarsgymnastikforening.dk">Aars Gymnastikforening</a></li>
          </ul>
        </div>-->
      </div>
    </div>
<!--    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>-->
  </footer>

  <!--  Scripts-->
  <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/materialize.js"></script>
  <script src="{{ .Site.BaseURL }}js/init.js"></script>

  </body>
</html>