  <footer class="page-footer red darken-2">
    <div class="container">
      <div class="row">
        <div class="col s6 m4 l4">
        <h5 class="white-text norse-font">Seneste indlæg</h5>
          <ul>
             {{ if gt (len (where .Site.Pages "Type" "post")) 1 }}  
             {{ range first 4 ( after 1 (where .Site.Pages "Type" "post")) }}
                <li><a href="{{ .Permalink }}" class="footer-link">{{ .Title }}</a></li>
            {{ end }}
              {{ end }}
          </ul>
        </div>
        <div class="col hide-on-med-and-up">
            <a class="page-icons" href="https://www.facebook.com/Kimbrerfesten/" target="_blank">
                <i class="fa fa-facebook fa-4x" aria-hidden="true"></i>
            </a>
            <a class="page-icons" href="https://www.instagram.com/kimbrerfesten/" target="_blank">
                <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
            </a>
            <a class="page-icons" href="https://www.instagram.com/p/BFmPsV8hkNb/" target="_blank">
                <i class="fa fa-snapchat fa-4x" aria-hidden="true"></i>
            </a>
        </div>  
          
        <div class="col s12 m4 l4">
          <h5 class="white-text norse-font">Kimbrerfesten</h5>
          <p class="grey-text text-lighten-4">Er organiseret som en forening, der har til formål at rejse penge til idrætten og foreningslivet i Aars og omegn.</p>
        </div>
          
        <div class="col s12 m4 l4">
          <h5 class="white-text norse-font">Kimbrerfestens partnere</h5>
          <p class="partners"><a target="_blank" href="http://kimbrerneiaars.dk/">Kimbrerne <i class="fa fa-external-link"></i></a></p>
          <p class="partners"><a target="_blank" href="https://www.facebook.com/livibyen/">Liv i Byen <i class="fa fa-external-link"></i></a></p>
          <p class="white-text partners"> CVR: 28535813 </p>

        </div>  
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/materialize.js"></script>
  <script src="{{ .Site.BaseURL }}js/init.js"></script>

  </body>
</html>