<body>
    <header>
      <nav class="top-nav red darken-2">
        <div class="container no-pad-bot">
            <div class="row" style="padding-bottom: 0;">
                <div class="col s8 m7 l7">  
                    <h2>Kimbrerfesten</h2>
                    <h5 class="norse-font">{{ $.Site.Params.eventDate }}</h5>
                    <h6 class="white-text">Vagttelefon under festen: 4264 3836</h6>
                </div>
                <div class="col hide-on-small-only m5 l5">
                    <a class="page-icons" href="https://www.facebook.com/Kimbrerfesten/" target="_blank">
                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                    </a>
                    <a class="page-icons" href="https://www.instagram.com/kimbrerfesten/" target="_blank">
                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                    </a>
                    <a class="page-icons" href="https://www.instagram.com/p/BYbQGCsAl5r/" target="_blank">
                        <i class="fa fa-snapchat fa-3x" aria-hidden="true"></i>
                    </a>
                    
                </div>
            </div>
        </div>
      </nav>
        
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%); height: 100%;">
        <li class="logo center-align">
            <a id="logo-container" href=" {{ .Site.BaseURL }} " class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="{{ .Site.BaseURL }}img/mand_200x86.svg" style="pointer-events: none;">Your browser does not support SVG</object></a></li>
       
        {{ partial "navbar_include.html" . }} 
          
      
          
    </ul>     
    </header>
