<!-- layouts/partials/menu_recursive.html -->
{{ $page := .page }}
{{ $site := .site }}
<!-- Menu items sorted alphabetically by name -->
 {{ range .menu.ByWeight }}
 {{ $is := $page.IsMenuCurrent "main" . }}
 {{ $has := $page.HasMenuCurrent "main" . }}
 {{ if .HasChildren }}
<li class="no-padding">
 <ul class="collapsible collapsible-accordion">
    <li class="bold {{ if $is }}active{{end}} "><a class="collapsible-header {{ if $is }}active{{end}} waves-effect waves-teal ">{{ .Name }}</a>
 {{ else }}
    <li class="bold {{ if $is }}active{{end}}">
    <a href="{{.URL}}">{{.Name}}</a></li>
 {{ end }}
  
  {{ if .HasChildren }}
    <div class="collapsible-body">
      <ul>
        {{ range .Children }}
           <li class="{{ if $is }}active{{end}}"><a href="{{.URL}}">{{.Name}}</a></li>
        {{ end }}
       </ul>
      </div>
    </li>
  </ul>
</li>
  {{ end }}

{{ end }}