<table {{ with .Get "class"}} class="{{.}}"{{ end }}>
  <thead>
      <tr><th style="width:25%;">Tidspunkt</th><th style="width:50%;">Beskrivelse</th><th style="width:25%;">Link</th>
  </thead>
  <tbody>
  {{ $url := .Get "file" }}
  {{ $sep := ";" }}
  {{ range $row_i, $row := getCSV $sep $url }}

  <tr>
    {{ range $col_i, $col := $row }}
      
        {{ if eq $col_i 3 }}
        {{else}}
            {{ if eq $col_i 2 }}
            <td> <a href="../../{{ index $row 3 }}">{{ $col }}</a> </td>
            {{ else }}
            <td>{{ $col }}</td>
            {{ end }}
        {{ end }}  
    {{ end }}
  </tr>
  {{ end }}
  </tbody>
</table>