<table {{ with .Get "class"}} class="{{.}}"{{ end }}>
  <thead>
      <tr><th style="width:16%;">Tidspunkt</th><th style="width:69%;">Beskrivelse</th><th style="width:15%;">Link</th>
  </thead>
  <tbody>
  {{ $url := .Get "file" }}
  {{ $sep := ";" }}
  {{ range $row_i, $row := getCSV $sep $url }}

  <tr>
    {{ range $col_i, $col := $row }}
      
        {{ if or (eq $col_i 3) (eq $col_i 4) }}
        {{else}}
            {{ if eq $col_i 2 }}
                {{ if (index $row 4) }}
                    <td> <a target="_blank" href="http://{{ index $row 4 }}">{{ $col }}</a> </td>
                {{ else }}
                    <td> <a href="../../{{ index $row 3 }}">{{ $col }}</a> </td>
                {{ end }}
            {{ else }}
            <td>{{ $col | safeHTML }}</td>
            {{ end }}
        {{ end }}  
    {{ end }}
  </tr>
  {{ end }}
  </tbody>
</table>