/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


@font-face {
	font-family: 'Norse';
	src: url('../fonts/Norse-Bold.eot');
	src: url('../fonts/Norse-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Norse-Bold.woff2') format('woff2'),
		url('../fonts/Norse-Bold.woff') format('woff'),
		url('../fonts/Norse-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Norse';
	src: url('../fonts/Norse.eot');
	src: url('../fonts/Norse.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Norse.woff2') format('woff2'),
		url('../fonts/Norse.woff') format('woff'),
		url('../fonts/Norse.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

h1,h2,h3,h4,h5,.card-title {
    font-family: 'Norse';
    font-weight: bold;
    font-style: normal;
}

.card .card-title {
    font-size: 40px;
    font-weight: 600;
}

.light, footer.page-footer .footer-copyright {
    font-weight: 600;
}


.brand-logo{
	font-weight:900;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

footer.page-footer {
  margin: 0;
}

header, main, footer {
  padding-left: 300px;
}

#logo-container {
    height: 210px;
    margin-top: 10px;
    margin-bottom: 32px;
}

.bold>a {
    font-weight: bold;
}

ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
    padding: 0 32px;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 32px;
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
}

a.button-collapse.top-nav i {
    font-size: 48px;
    color: #000;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 400%;
    font-family: 'Norse';
    font-weight: bold;
    font-style: normal;
}

nav.top-nav a.page-icons {
    line-height: 122px;
    font-size: 200%;
    padding: 0;
    margin-left: 20px;
}

nav.top-nav {
    height: 122px;
    /*box-shadow: none;*/
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
    }
    
    nav.top-nav a.page-icons {
    font-size: 150%;
    padding: 0;
    margin-left: 10px;
    }
    
  nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 300%;
    }
}

.contact-height {
    height: 248px;
}

.side-nav .collapsible-body {
    padding: 0;
}

ul.side-nav.fixed ul.collapsible-accordion .collapsible-body li a {
    font-weight: 400;
    padding: 0 37.5px 0 45px;
}